src/main/mule/secure.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="da89a0c4-9042-4675-9202-5a1f5526bc11" >
		<http:listener-connection host="0.0.0.0" port="${secure::http.port}" />
	</http:listener-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="93fd747a-e90b-40ab-9958-a2fb3b0bd26f" file="properties-${environment}.yaml" key="${key}"/>
	<configuration-properties doc:name="Configuration properties" doc:id="893d7cc6-6328-4b93-8846-cfe4097471dc" file="properties-${environment}.yaml" />
	<global-property doc:name="Global Property" doc:id="27b79c18-0de3-479d-b950-2da9786d1630" name="environment" value="local" />
	<global-property doc:name="Global Property" doc:id="7a91cd44-b059-4625-8fca-0435a6c8cab3" name="key" value="4324244244" />
	<flow name="secureFlow" doc:id="4bcfb62f-e0ee-4e7e-9c98-c3d71d8cf150" >
		<http:listener doc:name="Listener" doc:id="85dd6c9f-2535-4e87-96c7-c357a96b5b03" config-ref="HTTP_Listener_config" path="/secure"/>
		<ee:transform doc:name="Transform Message" doc:id="13a1b62c-28de-4d20-8a37-a2f3f2bf2087" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"output before encryption" : p ('secure::http.port'),
	"output after encryption":  p('http.port')
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6d84502b-87cd-4127-9f00-a967f8cad1af" message="#[payload]"/>
	</flow>
</mule>
